@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="wrapper">
        <h1 class="chrome">Rainbow Kitten</h1>
        <h3 class="dreams">Surprise</h3>
        <br /><br />
        <div class="video", id="fademe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zMINv5ggLww" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
</div>

